*{
    padding:0;
    margin: 0;
}
body{
    background-color: #f2f2f2;
    overflow-x: hidden;
}
/* .container-fluid{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */
.logos{
    max-width: 120px;
    max-height: 60px;
}
.logos img {
    max-width: 100%;
    max-height: inherit;
}
.logos input {
    position: absolute;
    left: 60px;
    top: 15px;
    opacity: 0;
    width: 120px;
    height: 50px;
}
.left-part{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-part{
    display: flex;
    justify-content: center;
}
.selection{
    text-decoration: none;
    width: fit-content;
    height: 50px;
    color: white;
    background-color: rgb(254,139,23);
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}

/* Product style */
.col-lg-6{
    max-width: 275px;
}

.content{
    margin: 10px;
    padding: 20px 0px;
    max-width: 100%;
    position: relative;
    background-color: white;
    height: 300px;
}
.content img:hover{
    opacity: 30%;
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease
}

.product{
    width: 100%;
    height: 100%;
    max-width: 260px;
}
.content:hover img {
    opacity: 0.4;
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease;
}

.logo{
    min-width: 35px;
    max-width: 35px;
    position: absolute;
    top: 22%;
    min-height: 30px;
    max-height: 30px;
    left: 28%;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
}
.detail{
    max-width: 80%;
    position: absolute;
    left: 10%;
    top: 50%;
    text-align: center;
    display: none;
    opacity: 0;
    font-weight: 700;
    font-family: sans-serif;
    transition: opacity .4s, visibility .4s;
    color: #2A383F;;
}
.content:hover .detail{
    display: block;
    opacity: 1;
}

.inp-selection{
    max-width: 53px;
    position: absolute;
    opacity: 0;
}

/* Product detail style */
.detail-right-part{
    padding: 20px 50px;
    background-color: white;
    margin: 40px 0px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
h6{
font-weight: 500;
}
.size,.color{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}
.detail-right-part button{
    background-color: rgb(227,170,0);
    color: white;
    padding: 8px 51px;
    margin: 8px;
    border-radius: 15px;
    border: none;
}
.color button{
    background-color: #fd9c28;
}
.select{
    background-color: rgb(240, 129, 18)!important;
    margin-top: 40px!important;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
background-color: black;
}
